{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="home">
    <section id="left">
		<h1>Les dernières actualités...</h1>
		<section id="actualité">
		{% for article in articles %}
			<article>
                <div class="article-picture">
                    {# <img class="article-picture-background" src='/pictures/{{article.picture}}'> #}
                </div>
                <h1 class="article-title">{{ article.title }}</h1>
                <p>{{ article.date|date('Y-m-d H:i') }}</p>
                <p class="article-text">{{ article.text}}</p>
			</article>
			<hr>
		{% endfor %}
		</section>
	</section>
    <section id="right">
        <h1>chats</h1>
        <hr>
        {% if app.user %}
            <section class="cats">
                <div class="responsive">
                {% for cat in cats %}
                    <div class="card">
                        <p>{{ cat.name }}</p>
                        <p>{{ cat.details }}</p>
                        <p>{{ cat.islost }}</p>
                        {# <a id="islost" href="{{ path("cat-lost", {"id": cat.id }) }}"><button id="{{ cat.id }}" type="button" class="btn btn-outline-danger">Perdu ?</button></a> #}
                        <i class="fa-solid fa-house-blank"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a id="isLost" class="js-lost" href="{{ path('catlost', {id: cat.id})}}">Perdu ?</a>
                    </div>
                {% endfor %}   
                </div>
            </section>
        {% else %}
            <a href="{{ path('displaylost')}}">Signaler un chat</a>
        {% endif %}
        <section class="soins">
            <h1>Les conseils des professionnels</h1>
            <hr>
            <div id="buttons">
                <button class="advice">Les soins dès le plus jeune âge</button>
                <button class="advice">Le calendrier des vaccinations</button>
                <button class="advice">Bien choisir son chat persan</button>
                <button class="advice">Comportements à risque</button>
            </div>
        </section>

    </section>  
</section>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function changeStatus(event) {
            event.preventDefault();
            const url = this.href;
            axios.get(url).then(function(response){
                console.log(response);
            })
            };
        
        document.querySelectorAll('a.js-lost').forEach(function(lost){
            lost.addEventListener('click', changeStatus);
        });
        
</script>
{% endblock %}

{% block javascripts %}
   
{% endblock %}