{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="home">
    <section id="left">
		<h1>Les dernières actualités...</h1>
		<section id="actualité">
		{% for article in articles %}
			<article>
                <div class="article-picture">
                    <img class="article-picture-background" src='/pictures/{{article.picture}}'>
                </div>
                <h1 class="article-title">{{ article.title }}</h1>
                <p>{{ article.date|date('Y-m-d H:i') }}</p>
                <p class="article-text">{{ article.text}}</p>
			</article>
			<hr>
		{% endfor %}
		</section>
	</section>
    <section id="right">
        <h1>Vos chats</h1>
        <hr>
        <section class="cats">
            <div class="responsive">
            {% for cat in cats %}
                <div class="card">
                    <p>{{ cat.name }}</p>
                    <p>{{ cat.details }}</p>
                </div>
            {% endfor %}   
            </div>
        </section>
        
        <section class="soins">
            <h1>Les conseils des professionnels</h1>
            <hr>
            <div id="buttons">
                <button class="advice">Les soins dès le plus jeune âge</button>
                <button class="advice">Le calendrier des vaccinations</button>
                <button class="advice">Bien choisir son chat persan</button>
                <button class="advice">Comportements à risque</button>
            </div>
        </section>

    </section>  
</section>
{% endblock %}
