{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('geoloc') }}
    {{ encore_entry_script_tags('gallery') }}
    {{ encore_entry_script_tags('scroll-arrow') }}
    {{ encore_entry_script_tags('advice-arrow') }}
    {{ encore_entry_script_tags('status-change') }}
    {{ encore_entry_script_tags('deploy') }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
<section class="home">
<h2 id="item1">Chats</h2>
    <section class="signal">
        {% if app.user %}
            {% if cats is empty %}
                <p class="info">Vous n'avez pas encore enregistré de chat.</p>
                <p class="info">Rendez-vous dans la barre de menus, onglet "Chats" puis "Nouveau" pour le faire.</p>
            {% else %}
                <section class="cats">
                    {% for cat in cats %}
                        <div class="card">
                            <img class="cat-picture" src="/pictures/{{ cat.picture }}">
                            <div class="topcard">
                                <p class="cat-name">{{ cat.name }}</p>
                                <hr>
                                <p><b>Enregistré le :</b><br> 22 janvier 2019</p>
                                <p><b>Prochaine vaccination : </b><br>22 mai 2023</p>
                            <a class="changeStatus" href="{{ path('catlost', {id: cat.id})}}">
                                <i id="icone" class="bi {{ cat.islost ? 'bi-binoculars-fill' : 'bi-house' }}"></i>
                            </a>
                            </div>    
                        </div>
                    {% endfor %}  
                </section>
            {% endif %}
        {% else %}
            <section class="alert">
                <h4>Signaler un chat</h4>
                <p>Vous souhaitez signaler un chat que vous venez d'apercevoir ?  Vous avez le choix de lancer une recherche automatique ou bien de saisir la commune dans laquelle vous voulez lancer la recherche.</p>
                <p> Attention, le signalement sera transmis immédiatement au propriétaire du chat.</p>
                <div class="search-btns">
                    {{ form_start(form) }}
                        {{ form_widget(form.coordx) }}
                        {{ form_widget(form.coordy) }}
                    <button type="submit" class="btn btn-success search">Recherche automatique par géolocalisation</button>
                    {{ form_end(form) }}
                    <a  href="{{ path('app_disconnected')}}" class="btn btn-success search">Recherche par saisie de la commune</a>
                </div>
            </section>
        {% endif %}
    </section>
<h2 id="item2">Les dernières actualités...</h2>
    <section class="actualites">
        <div class="slider">
            {% for article in articles %}
                <article class="article">
                    {% if article.picture is empty %}
                    <img class="article-picture-background" src='{{ asset("build/pictures/no-visual.png") }}'>
                    {% else %}
                    <img class="article-picture-background" src='{{ asset("/pictures/#{article.picture}") }}'> 
                    {% endif %}
                    <h3 class="article-title">{{ article.title }}</h3>
                    <p>rédigé le : <i>{{ article.date|date('d-m-Y') }} à {{ article.date|date('H:i') }}</i></p>
                    <p class="ellipsis">{{ article.text}}</p>
                    <button class="seemore">Voir plus</button>
                </article>
            {% endfor %}
        </div>
    </section>
<h2 id="item3">Les conseils des professionnels</h2>
    <section class="home">
        <br>
        <article class="advice">
            <p class="advice-title">Connaître le calendrier de vaccination de votre chat</p>
            <img class="advice-arrow" src="{{ asset('build/pictures/arrow.svg') }}">
            <div class="hidden">
                <p >Non obligatoires, les vaccins du chat sont pourtant d’une importance capitale, car ils le protègent de certaines maladies. Même si votre chat vit en appartement ou ne sort que sporadiquement, il est toujours recommandé de l'immuniser.</p>
                <table>
                    <tr>
                        <th>Age</th>
                        <th>Vaccins</th>
                    </tr>
                    <tr>
                        <td>2 mois</td>
                        <td>Primo vaccination (coryza, typhus et chlamydiose)<td>
                    </tr>
                    <tr>
                        <td>3 mois</td>
                        <td>primo vaccination (rage, leucose féline) et rappels (coryza, typhus et chlamydiose)</td>
                    </tr>
                    <tr>
                        <td>4 mois</td>
                        <td>rappels (coryza et typhus)</td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="advice">
            <p class="advice-title">Doit-on laisser son chaton mordre ou griffer ?</p>
            <img class="advice-arrow" src="{{ asset('build/pictures/arrow.svg') }}">
            <div class="hidden">
                <p>Si vous jouez avec votre chaton, il peut parfois mordiller vos doigts, vos avants-bras. Il ne faut pas le laisser faire. Certains chatons n’ont pas bien appris le contrôle de la morsure avec leur mère. En effet la chatte enseigne ce contrôle de la morsure aux chatons jusqu’à l’âge de 3 mois et souvent ils sont séparés avant cet âge de leur mère… C’est donc à vous de lui faire comprendre qu’il ne doit pas jouer avec ses dents ou ses griffes.<br/>
                Tout d’abord ne jouez jamais avec votre chaton en utilisant vos mains ou vos doigts comme « appât », préférez l’utilisation de jouets comme une canne à pêche ou une souris en corde ou en peluche, etc…<br/>
                Si votre chaton s’attaque à vos mains, vos doigts ou autre, dites « Non ! » d’une voix forte, repoussez le et cessez immédiatement de jouer avec lui. Il comprendra ainsi que s’il utilise ses dents ou ses griffes, le jeu cesse. Vous pouvez s’il insiste, le prendre par la peau du cou, comme le ferait sa mère pour le remettre par terre s’il était sur vous.</p>
                
            </div>
        </article>
        <article class="advice">
            <p class="advice-title">Tout savoir sur la litière...</p>
            <img class="advice-arrow" src="{{ asset('build/pictures/arrow.svg') }}">
            <div class="hidden">
                <p>Pour que le chat puisse faire ses besoins confortablement et sans désagrément pour ses propriétaires, il va falloir vous équiper d’un bac à litière ou d’une maison de toilette, d’une litière naturelle, biodégradable, agglomérante et absorbant les odeurs. D’autres accessoires comme une poubelle pour litière ou encore des sacs et pelles pourront vous faciliter le nettoyage. Notre équipe vétérinaire vous donne de précieux conseils pour bien choisir sa litière pour chat ainsi que de nombreuses autres astuces !</p>
                <h4>Quel type de litière choisir ?</h4>
                <p>Il existe rarement de bonnes ou de mauvaises litières pour chat, il y a plutôt celles qui sont adaptées à votre chat et à vous-même. Pour choisir sa litière, il faudra penser à de nombreux critère comme le confort de votre chat, la fréquence d’entretien et la facilité de nettoyage mais également réfléchir à l’aspect écologique et biodégradable de la litière. Le choix est vaste !</p>
                <h5>Les litières minérales</h5>
                <p>Les litières minérales ne sont pas toujours recommandées, bien qu’elles soient les moins chères, car elles ne sont pas biodégradables et génèrent de la poussière ; à éviter si votre chat souffre de problèmes respiratoires.</p>
                <h5>Les litières en silice</h5>
                <p>Les litières en silice (Par exemple la litière Perlinette) sont constituées de cristaux, petites billes qui absorbent les odeurs et les urines, et qui ne collent pas aux pattes de votre chat. Biodégradables, légères et compactes, elles ne nécessitent pas d’être changées tous les jours. Il suffit de veiller à retirer les crottes quotidiennement avec une pelle à litière. L’entretien en devient donc facilité !</p>
                <h5>Les litières végétales</h5>
                <p>Les litières végétales à base de fibres végétales naturelles (maïs, orge, soja…) ou de copeaux de bois sélectionnés et dépoussiérés, sont absorbantes et biodégradables afin de garantir tout le confort nécessaire pour votre chat. Vous avez par exemple comme choix la  litière d'Almo Nature Catlitter. </p>
                <h5>Les litières agglomérantes</h5>
                <p>Les litières agglomérantes forment des petits blocs compacts au contact des liquides, et donc, des urines. Elles ne collent pas aux pattes de votre chat et absorbent parfaitement les odeurs. Leur pouvoir d’agglomération facilite le nettoyage de la litière et lui permet de rester propre plus longtemps.</p>
            </div>
        </article>
    </section>
<h2 id="item4">La gallerie des minous</h2>
    <section class="gallery">
        {# div popup is displayed on click #}
        <div id="popup-bg">
            <div id="popup-content">
                <div id="popup-close">
                    <img src="/pictures/close.svg" />
                </div>
                <img id="popup-img" src="#" />
            </div>
        </div>
        {# div for grid display #}
        <div id="grid">    
            <div class="grid-item" id="cat-1">
                <img src="./pictures/cat-1.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-2">
                <img src="./pictures/cat-2.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-3">
                <img src="./pictures/cat-3.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-4">
                <img src="./pictures/cat-4.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-5">
                <img src="./pictures/cat-5.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-6">
                <img src="./pictures/cat-6.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-7">
                <img src="./pictures/cat-7.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-8">
                <img src="./pictures/cat-8.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-9">
                <img src="./pictures/cat-9.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-10">
                <img src="./pictures/cat-10.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-11">
                <img src="./pictures/cat-11.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-12">
                <img src="./pictures/cat-12.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-13">
                <img src="./pictures/cat-13.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-14">
                <img src="./pictures/cat-14.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-15">
                <img src="./pictures/cat-15.jpg" alt="" class="grid-img"/>
            </div>
            <div class="grid-item" id="cat-16">
                <img src="./pictures/cat-16.jpg" alt="" class="grid-img"/>
            </div>
        </div>
    </section>
<img class="gelatine" onclick="topFunction()" id="arrow-up" src="/pictures/arrow-up.svg"/>

{% endblock %}

