{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Enregistrement{% endblock %}

{% block body %}
<section class="article-crud">
    {% for flash_error in app.flashes('Erreur dans la vérification du courriel') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<section class="article-crud">
    <h3 class="crud-theme-title">Enregistrement d'un nouvel utilisateur</h3>

    {{ form_start(registrationForm) }}
        {{ form_label(registrationForm.pseudo, 'Pseudo :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(registrationForm.email, 'Email :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(registrationForm.plainPassword, 'Mot de passe :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        <br>
        <p>Consulter les <a href="{{ path('app_cgu') }}">CGU</a></p>
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="center">
            <button type="submit" class="btn btn-success">Enregistrez-vous</button>
        </div>
    {{ form_end(registrationForm) }}
</section>
{% endblock %}