{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Races{% endblock %}

{% block body %}
    <h4>Liste des races</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for breed in breeds %}
            <tr>
                <td>{{ breed.id }}</td>
                <td>{{ breed.name }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_breed_show', {'id': breed.id}) }}">Montrer</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_breed_edit', {'id': breed.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('app_breed_new') }}">Ajouter une race/a>
{% endblock %}
