{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Connexion{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="login" >
    <img id="cat-connexion-picture">
    <p>CONNECTEZ-VOUS A L'APPLICATION</p>
    <hr>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        <input type="email" class="form-control" id="username" name="_username" aria-describedby="emailHelp">
        
        <div id="emailHelp" class="form-text">Votre email ne sera pas communiqué aux autres utilisateurs de la palteforme. Pour plus de détails, lisez les conditions générales d'utilisation.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" name="_password"/>
    </div>
        {# on succes, redirect user to home page #}
        <input type="hidden" name="_target_path" value="/home"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn btn-success">Connexion</button>
    </form>
    <a class="nav-link active" href="{{ path('app_register') }}"><span>Pas encore de compte ? C'est par </span>ici</a>
</div>

{% endblock %}
