{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Formulaire de contact</h1>
    {{ form_start(form) }}
        <div class="row">
            <div class="col">
        {{ form_label(form.firstname, 'Prénom :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col">
        {{ form_label(form.lastname, 'Nom :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_label(form.email, 'Email :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_label(form.message, 'Message :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
        <br>
        <div class="center">
            <button type="submit" class="btn btn-success">Envoyer votre message</button>
        </div>
    {{ form_end(form) }}
  
</div>
{% endblock %}
