{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('selected') }}
    {{ encore_entry_script_tags('deploysearch') }}
        {{ encore_entry_script_tags('restrict') }}
{% endblock %}

{% block title %} {{ parent() }} - Cahts perdus{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="displaylost">

    <h5 class='top-title'>liste des chats perdus sur la commune de {{ place }} </h5>
    
    {% if cats is empty %}
            <div class="center">
            <img id="no-cat-lost" class="linear-opacity" src="./pictures/happy-cat-picture.jpg"/>
            </div>
            <p class="info">Apparemment, il n'y a aucun chat déclaré perdu sur cette commune !</p>
            <div class="center">
            <a href="{{ path('home')}}" class="btn btn-success search">Revenir à l'accueil</a>
            </div>
    {% else %}
        <p id="results-count">Il y a <strong style="font-size: 2rem">{{ length }} </strong>résultats à votre recherche</p>
 
            

   {#  Affichage des chats perdus #}
    <div class="slider">
    {% for cat in cats %}
        <div class="card {{ cat.colorstyle}}">
            <div class="topcard ">
                <p class="catname"><strong>{{ cat.name }}</strong></p>
                <p class="lost-date">Déclaré perdu :<br>{{ cat.datelost ? cat.datelost|date('d-m-Y') : '' }}</p>
            </div>
            <img class="cat-picture" src="/pictures/{{ cat.picture }}"</img>
            <p class="lost-details"><strong>Signes distinctifs :</strong><br> {{ cat.details }}</p>
            <div class="center lost-signal">
            <a href="{{ path("report", {"cat_id": cat.id }) }}" class="btn btn-warning lost-btn">Signaler</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    <div id="help">
        <p>Vous pouvez affiner votre recherche en cliquant sur la flèche :</p>
        <img id="precise-arrow" class="advice-arrow" src="{{ asset('build/pictures/arrow.svg') }}">
        <div class="hidden">
            <table>
                <tr>
                    <td>Il y a <strong>{{ nbplains }}</strong> chats dont la robe est unie</td>
                    <td><a id="P" class="btn btn-outline-warning see-btn">Voir</a></td>
                </tr>
                <tr>
                    <td>Il y a <strong>{{ nbstripes }}</strong> chats dont la robe est rayée</td>
                    <td><a class="btn btn-outline-warning see-btn">Voir</a></td>
                </tr>
                <tr>
                    <td>Il y a <strong>{{ nbstaines }}</strong> chats dont la robe est tâchetée</td>
                    <td><a class="btn btn-outline-warning see-btn">Voir</a></td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
