{% extends 'base.html.twig' %}

{% block title %}Hello CatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="displaylost">

    <h2>liste des chats perdus sur la commune de {{ place }} </h2>
    
    <div class="slider">
    {% for cat in cats %}
        <div class="card">
            <div class="topcard">
                <p>{{ cat.name }}</p>
                <p>Déclaré perdu :<br>{{ cat.datelost ? cat.datelost|date('Y-m-d H:i:s') : '' }}</p>
            </div>
            <img class="cat-picture" src="/pictures/{{ cat.picture }}"</img>
            <p>Signes distinctifs :<br> {{ cat.details }}</p>
            <a href="{{ path("report", {"cat_id": cat.id }) }}" class="btn btn-warning">Signaler</a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
