{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('localize') }}
{% endblock %}

{% block title %} {{ parent() }} - Synthèse signalements{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
</style>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>

<h4 class="top-title">Historique des localisations</h4>
<h5 class="top-sub-title">Synthèse à la date du : {{ date|date('d-m-Y')  }}</h5>
<hr>
{% if reports is empty %}
    <div class="center">
            <div id="no-signal-container">
            <p>Votre chat {{cat.name}} n'a pas encore été signalé. Patience, une 'Cat Patrouille' va peut-être bientôt le repérer...</p>
            <img id="no-signal-picture" src="{{ asset("build/pictures/cat-no-signal.jpg") }}"/>
        </div>
    </div>
{% else %}
    <div class="report-display">
        <div class="center">
            <img src="{{ asset("build/pictures/geoloc-icon.svg") }}"/>
            <p class="report-text">Votre chat <strong>{{ cat.name }}</strong> a été repéré par des "Cat Patrouilles" aux positions suivantes. Attention, certains lanceurs d'alertes ont peut-être laissé leurs coordonnées...</p>
        </div>
        {% for report in reports %}
            <div class="report-card">
              <p class="report-title">Repérage à la date du : {{ report.date|date('d-m-Y') }} à {{ report.date|date('H : i') }}</p>
              <p class="report-text">lat : {{  report.coordy }} - Long : {{  report.coordx }} / 
              {% if report.status is same as ("En bonne santé") %}
              <i class="fa-solid fa-heart"></i>
              {% endif %}
              {% if report.status is same as ("Blessé") %}
              <i class="fa-solid fa-stethoscope"></i>
              {% endif %}
              {% if report.status is same as ("Mort") %}
              <i class="fa-solid fa-coffin-cross"></i>
              {% endif %}
            <p class="report-text">Message du lanceur d'alerte : "{{  report.message }}"</p>
            </div>
        {% endfor %}
    </div>
    {# to catch the cat number and use it to complete the ajax url path #}
    <div class="js-cat-number" data-is-authenticated="{{ cat.id }}"></div>
    {# to dysplays points of interest #}
    <div id='map' style='width: 800px; height: 800px;'></div>
{% endif %} 
</div>
{% endblock %}
