{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Nouveau signalement{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    {{ encore_entry_script_tags('color-result') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     <section class="catregister">
        <h5>ENREGISTREZ VOTRE CHAT</h5>
        <hr>
        {{ form_start(form) }}
            <div class="comment_form">
                <p>
                {{ form_label(form.name, 'nom :', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                {{ form_label(form.race, 'race : (cliquez pour modifier)', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.race, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                {{ form_label(form.picture, 'photo :', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                {{ form_label(form.place, 'Commune : (autocompletion par nom ou CP))', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
                </p>
                
                <input name="cp" id="cp" type="hidden" placeholder="CP">
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

                <div id="eyes">
                    <p class ='form-label'>Couleur des yeux :</p>
                    <div id="eyescolors" style="display: flex; gap: 1rem; justify-content: space-envely">
                        <div class="type">
                            <img src="/pictures/blue-cat-eye.svg" class="blurb" id="B"></img>
                            <p>bleus</p>
                        </div>
                        <div class="type">
                            <img src="/pictures/brown-cat-eye.svg"class="blurb" id="M"></img>
                            <p>marrons</p>
                        </div>
                        <div class="type">   
                            <img src="/pictures/yellow-cat-eye.svg"class="blurb" id="J"></img>
                            <p>jaunes</p>
                        </div>
                        <div class="type">
                            <img src="/pictures/green-cat-eye.svg"class="blurb" id="V"></img>
                            <p>verts</p>
                        </div>    
                    </div>
                </div>

                <div id="pattern">
                    <p class = 'form-label'>Type de pelage :</p>
                    <div id="patterntype" style="display: flex; gap: 1rem; justify-content: space-envely">
                        <div class="type">
                            <img src="/pictures/plein.png" class="blurb logo" id="P"></img>
                            <p>uni</p>
                        </div>
                        <div class="type">
                            <img src="/pictures/rayure.png" class="blurb logo" id="R"></img>
                            <p>rayé</p>
                        </div>
                        <div class="type">
                            <img src="/pictures/tache.png" class="blurb logo" id="T"></img>
                            <p>tâcheté</p>
                        </div>
                    </div>
                </div>
                
                <div id="color">
                    <p class = 'form-label'>Couleur du pelage :</p>
                    <div id="colors" style="display: flex; gap: 1rem; justify-content: space-envely">
                        <div class="type">
                            <div class="blurb simple-color" id="W" style="border: 1px solid grey; height: 50px; width: 50px; background-color: #fff"></div>
                            <p>Blanc</p>
                        </div>
                        <div class="type">
                            <div class="blurb simple-color" id="K" style="border: 1px solid grey; height: 50px; width: 50px; background-color: #000"></div>
                            <p>Noir</p>
                        </div>
                        <div class="type">
                            <div class="blurb simple-color" id="N" style="border: 1px solid grey; height: 50px; width: 50px; background-color: #973b0ad8"></div>
                            <p>Marron</p>
                        </div>
                        <div class="type">
                            <div class="blurb simple-color" id="G" style="border: 1px solid grey; height: 50px; width: 50px; background-color: #a5a6a3"></div>
                            <p>Gris</p>
                        </div>
                        <div class="type">
                            <div class="blurb simple-color" id="X" style="border: 1px solid grey; height: 50px; width: 50px; background-color: #df6406"></div>
                            <p>Roux</p>
                        </div>
                    </div>
                </div>
                <p>
                    {{ form_label(form.vaccination, 'Prochaine vaccination :', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.vaccination, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                    {{ form_label(form.details, 'signes distinctifs :', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.details, {'attr': {'class': 'form-control'}}) }}
                </p>
                {# Hidden field for colorstyle #}
                {{ form_widget(form.colorstyle) }}
                <br>
                <button id="cat-register-button" type="submit" class="btn btn-success">Enregistrer</button>
            </div>
            
        {{ form_end(form) }}
    </section>
</div>
    <br>

</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJaDs8GhvKgIfGrMyp4D924YCoTryGgn0&libraries=places"></script>

<script>
$("#cp").autocomplete({
	source: function (request, response) {
		$.ajax({
			url: "https://api-adresse.data.gouv.fr/search/?postcode="+$("input[name='cp']").val(),
			data: { q: request.term },
			dataType: "json",
			success: function (data) {
				var postcodes = [];
				response($.map(data.features, function (item) {
					// Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
					if ($.inArray(item.properties.postcode, postcodes) == -1) {
						postcodes.push(item.properties.postcode);
						return { label: item.properties.postcode + " - " + item.properties.city, 
							city: item.properties.city,
							value: item.properties.postcode
						};
					}
				}));
			}
		});
	},
	// On remplit aussi la ville
	select: function(event, ui) {
		$('#ville').val(ui.item.city);
	}
});
$("#cat_place").autocomplete({
	source: function (request, response) {
		$.ajax({
			url: "https://api-adresse.data.gouv.fr/search/?city="+$("input[name='cat[place]']").val(),
			data: { q: request.term },
			dataType: "json",
			success: function (data) {
				var cities = [];
				response($.map(data.features, function (item) {
					// Ici on est obligé d'ajouter les villes dans un array pour ne pas avoir plusieurs fois la même
					if ($.inArray(item.properties.postcode, cities) == -1) {
						cities.push(item.properties.postcode);
						return { label: item.properties.postcode + " - " + item.properties.city, 
							postcode: item.properties.postcode,
							value: item.properties.city
						};
					}
				}));
			}
		});
	},
	// On remplit aussi le CP
	select: function(event, ui) {
		$('#cp').val(ui.item.postcode);
	}
});

</script>
{% endblock %}


