{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<section class="article-crud">
    <h3 class="crud-theme-title">Les articles édités</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Détails</th>
                    <th>Date</th>
                    <th>Photo</th>
                    <th>Texte de remplacement</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td id="details">
                        <p id="article-title">{{article.title}}</p>
                        <p class="article-text">{{ article.text }}</p>
                    </td>
                    <td>{{ article.date|date('Y-m-d H:i') }}</td>
                    <td><img class="article-picture-crud" src="/pictures/{{ article.picture }}"/></td>
                    <td>{{ article.alt }}</td>
                    <td>
                        <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <a href="{{ path('app_article_new') }}" class="btn btn-success crud-link">Créer un nouvel article</a>
{% endblock %}
