{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Signalement{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Signalez un chat</h1>

    <p>Vous êtes sur le point de signaler NOM du CHAT</p>
    {{ form_start(form) }}
    <p>Vous êtes situé(e) aux coordonnées suivantes</p>
    <div id="infoposition"></div>
    
    {{ form_widget(form.coordx) }}
    {{ form_widget(form.coordy) }}
    <div class="comment_form">
                
        
        <p>Veuillez remplir le formulaire suivant pour préciser votre signalement</p>
                <p>
                {{ form_label(form.message, 'message :', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                {{ form_label(form.status, 'status :', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </p>
                <br>
                <button type="submit" class="btn btn-warning" onclick="return confirm('Attention, les informations que vous fournissez seront transmises au propriétaire du chat');">Enregistrer</button>
            </div>
    {{ form_end(form) }}
</div>

<script>
    let coordx = document.getElementById('report_coordx');
    let coordy = document.getElementById('report_coordy');
    // if geolocation is activated, init function getPosition to catch current position
    function showPosition(position)
    {
        // variables initiated to store positions
        let xposition = position.coords.longitude;
        let yposition = position.coords.latitude;
        // update input value to display coords
        coordx.value = xposition;
        coordy.value = yposition;
    };
    if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    else
        {
            x.innerHTML="Geolocation n’est pas prise en charge par ce navigateur.";
        }
</script>


  

{% endblock %}
